.blue {
    background-color: #0077FF;
    @apply my-5 mx-5  ;
}

.red {
    background-color: #FF0000;
    @apply my-5 mx-5  ;
}

.aqua {
    background-color: #00FFFF;
    @apply my-5 mx-5  ;
}

.god {
    @apply bg-gradient-to-r from-cyan-500 to-blue-500 my-5 mx-5 ;
}

.text {
    @apply text-white  text-2xl font-bold flex justify-center items-center  ;
}