.blog-home{
  background-color: black;
  color: white; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 2%;
    border-bottom: 1px solid ;
  }

.name{
  margin-left :  calc(100vw / 15) ;
  text-align: left;
  font-size : 25px;
}

.image-icon{
  display: flex;
  margin : 10px;
  filter: invert(100%);
}

.title{
  font-size : 30px;
  text-align: center;
  padding:calc(100vh / 20) ;
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: calc(100vw / 12);
  margin-left : calc(100vw / 15) ;
}

.box{
  width: calc(100vw / 5);
  height: calc(100vh / 3);
  background-color: white;
}

footer {
  text-align: right;
  color : #fff;
  margin : calc(100vw / 15);
}

.member{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin : calc(100vw / 15) ;
}

.mamber-icon{
  margin : 10px ;
}

.note{
  text-align: center;
}

.next {
  
  cursor: pointer;
}
  